@import '../../style.css';

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.upper-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 90%;
}

.card{
    background-color: var(--white);
    height: 70%;
    width: 40%;
    border-radius: 20px;
    color: var(--text-dark);
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
    border: 3px solid var(--primary-red);
    box-shadow: 0 2px 8px rgba(255, 0, 0, 0.63);
}

.card:hover{
    font-size: x-large;
}

.card div{
    background-color: var(--red);
}
.card p{
    background-color: var(--red);
}

.lower-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 90%;
}
