@import '../../style.css';

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid var(--red);
    height: 4vh;
}


